<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2020-05-24T06:20:43Z</date>
	<key>WorkspacePath</key>
	<string>/Users/rbhatia/Ninja/Apps/covid_health_discussion/covid_health_discussion.xcodeproj</string>
</dict>
</plist>
